html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.4;
    font-weight: bold;
    color: #fff;
    background-color: #fff;
    background-image: url("./background.png");
}

#gameArea{
    margin: 0 auto;
    max-width: 1000px;
    padding: 15px;
}
#gameArea .pcGameArea, #gameArea .userGameArea{
    width: 50%;
    float:left;
    margin: 0 0 15px 0;
    padding:0;
    display: block;
    margin-bottom: 20px;
}
#gameArea .gameField{
    margin: 5px 15px 0 0;
    display: block;
    padding:0;
}
#gameArea .gameField div{
    margin: -1px;
    display: block;
    position: relative;
    float: left;
    background-color: #fcfcfc;
    border: 1px solid #888888;
    text-align: center;
    color: #000000;
}
#gameArea .gameField div .badge{
    font-size: 2em;
    color: #F44336;
}
#gameArea .gameField .ship{
    background-color: #bfbfbf;
}
#gameArea .btn{
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #000000;
    white-space: nowrap;
    padding: 6px 12px;
    line-height: 1.4;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 1.2em;
    color: #fff;
    background-color: #969696;
}

.toolbar {
    text-align: center;
    font-size: 20px;
    background-color: black;
}